## Lec 21 Homework

Complete the One Rule Algorithm

Here is our data table:

In [2]:
import numpy as np
from collections import OrderedDict
import pandas as pd
from sklearn.datasets import load_iris

#get dataset
dataset = load_iris()
X = dataset.data
Y = dataset.target

#Make table with pandas
Iris_data = OrderedDict({'Sepal Length': X[:,0],
             'Sepal Width': X[:,1],
             'Petal Length': X[:,2],
             'Petal Width': X[:,3],
             'Species': Y})
df1 = pd.DataFrame(Iris_data)
df1

     Sepal Length  Sepal Width  Petal Length  Petal Width  Species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

Now we want to convert these values into discrete numbers so the computer can analyze the data.
We will take the average of these numbers.
If the value in larger than the mean we will assign it to a 1.
If the value is below the mean, we will assign it to a 0.

In [3]:
X_d = np.array( X>X.mean(), dtype='int')

Iris_data_d = OrderedDict({'Sepal Length': X_d[:,0],
             'Sepal Width': X_d[:,1],
             'Petal Length': X_d[:,2],
             'Petal Width': X_d[:,3],
             'Species': Y})

df2 = pd.DataFrame(Iris_data_d)
df2

     Sepal Length  Sepal Width  Petal Length  Petal Width  Species
0               1            1             0            0        0
1               1            0             0            0        0
2               1            0             0            0        0
3               1            0             0            0        0
4               1            1             0            0        0
..            ...          ...           ...          ...      ...
145             1            0             1            0        2
146             1            0             1            0        2
147             1            0             1            0        2
148             1            0             1            0        2
149             1            0             1            0        2

[150 rows x 5 columns]

Now we can apply the "One Rule" algorith based on frequency.
This is a classification algorithm based on one rule.
We generate one rule for each predictor in our data and then choose the rule that has the smallest total error and this is our one rule.

For each predictor:

Step 1: for each value of that predictor make a rule:

    -Count how often each value of target (class) appears
    -Find the most frequent class
    -Make the rule assign that class to this value of the predictor
    
Step 2: Calculate the total error of the rules of each predictor

Step 3: Choose the predictor with the smallest total error

We can take advantage of the pandas dataframe function:

pandas.DataFrame.groupby
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True)[source]
Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [4]:
#Count how often each value of taget (class) appears
Sepal_Length = df2.groupby('Species')['Sepal Length'].value_counts()
Sepal_Width = df2.groupby('Species')['Sepal Width'].value_counts()
Petal_Length = df2.groupby('Species')['Petal Length'].value_counts()
Petal_Width = df2.groupby('Species')['Petal Width'].value_counts()

print(Sepal_Length, '\n')
print(Sepal_Width, '\n')
print(Petal_Length, '\n')
print(Petal_Width, '\n')

Species  Sepal Length
0        1               50
1        1               50
2        1               50
Name: Sepal Length, dtype: int64

Species  Sepal Width
0        0              28
         1              22
1        0              50
2        0              47
         1               3
Name: Sepal Width, dtype: int64

Species  Petal Length
0        0               50
1        1               47
         0                3
2        1               50
Name: Petal Length, dtype: int64

Species  Petal Width
0        0              50
1        0              50
2        0              50
Name: Petal Width, dtype: int64

We can see from this data that the most frequent class for predictor:

Sepal Length: 1 = even on all species

Sepal Width: 0 = species 1 (versicolor)

Petal Length: 0 = species 0 (setosa)

Petal Width: 0 = even on all species

In [17]:
#Make the rule assign

def Sepal_Width():
    label_1 = 0
    for i in range(len(X)):
        #if sepal width = 0 then Versicolor
        if (X[1]).all==0:
            label_1 += 1
    return label_1

def Petal_Length():
    label_2 = 0
    for i in zip(X,Y):
        #if petal length = 0 then setosa
        if (X[2]).all==0:
            label_2 += 1 
    return label_2

def Petal_Width():
    label_3 = 0
    for i in zip(X,Y):
        #if petal width = 1 all species have this property
        if (X[3]).all==0:
            label_3 += 1 
    return label_3
            
def Sepal_Length():
    label_4 = 0
    for i in zip(X,Y):
        #if sepal length = 1 all species have this property
        if (X[0]).all==1:
            label_4 += 1 
    return label_4
    
print('Sepal Width:', Sepal_Width(), '\n',
      'Petal Length:', Petal_Length(), '\n',
      'Petal Width:', Petal_Width(), '\n',
     'Sepal Length:', Sepal_Length())  

'''
Need to fix these functions because they aren't
working properly
'''

Sepal Width: 0
 Petal Length: 0
 Petal Width: 0
 Sepal Length: 0

"\nNeed to fix these functions because they aren't\nworking properly\n"

Next we will calculate the total error of our rule from each predictor.

In [18]:
# Let's try to calculate the success rate of this classfier
count1 = 0
for xx,yy in zip(X, Y):
    if Sepal_Width()== yy:
        count1 += 1
        
print('The overall success rate for Sepal Width predictor: ',
      count1/len(X)*100 ,'%', '\n')

count2 = 0
for xx,yy in zip(X, Y):
    if Petal_Length()== yy:
        count2 += 1
        
print('The overall success rate for Petal Length predictor: ',
      count2/len(X)*100 ,'%')

count3 = 0
for xx,yy in zip(X, Y):
    if Petal_Width()== yy:
        count3 += 1
        
print('The overall success rate for Petal Width predictor: ',
      count3/len(X)*100 ,'%')

count4 = 0
for xx,yy in zip(X, Y):
    if Sepal_Length()== yy:
        count4 += 1
        
print('The overall success rate for Sepal Length predictor: ',
      count4/len(X)*100 ,'%')

The overall success rate for Sepal Width predictor:  33.33333333333333 %

The overall success rate for Petal Length predictor:  33.33333333333333 %
The overall success rate for Petal Width predictor:  33.33333333333333 %
The overall success rate for Sepal Length predictor:  33.33333333333333 %

Finally, we choose the predictor that gave the smallest total error.